langchain
langchain-core
langgraph
langchain-openai
langchain-community
ipykernel
dotenv
langchain-groq
sentence-transformers
huggingface-hub
faiss-cpu
scikit-learn
rank_bm25
beautifulsoup4
lxml
langextract